.todo-item {
	position: relative;
	padding: 12px;
}

.todo-item .actions {
	position: absolute !important;
	top: 0;
	right: 0;
}

.todo-item .actions button {
	z-index: 99;
}

.todo-item:not(:hover) button {
	display: none !important;
}

.todo-item:hover button {
	display: inline-block !important;
}

.todo-item .text {
	height: 24px;
	padding-left: 4px;
}
