.todo-group {
  padding: 0 15px;
}

.todo-group h4 {
  position: relative;
}

.todo-count {
  position: absolute;
  top: 0;
  right: 0;
}
.todo-group.complete .todo-count {
  display: none;
}

.todo-count {
  background-color: #337ab7;
}
