.todo-item {
	position: relative;
	padding: 15px;
}

.todo-item .actions a {
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 0 3px;
	z-index: 99;
}

.todo-item:not(:hover) a {
	display: none;
}

.todo-item:hover a {
	display: inline-block;
}
